<!DOCTYPE html>
<html>

<head>

    <title>CampusCart Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="login-container">

    <h2>Welcome Back</h2>

    <p>Login to continue with CampusCart</p>

    <form id="login-form" method="POST">

        <input
        name="email"
        type="email"
        placeholder="Enter Email"
        required>

        <div class="password-box">

            <input
            id="login-password"
            name="password"
            type="password"
            placeholder="Enter Password"
            required>

            <span id="toggle-login-password">
                👁️
            </span>

        </div>

        <button type="submit">
            Login
        </button>

    </form>

    <p>

        Don't have an account?

        <a href="/register">
            Register
        </a>

    </p>

</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>