<!DOCTYPE html>
<html>

<head>

<title>
Sell Item - CampusCart
</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>


<body>


<div class="login-container">

<h2>
Sell Your Item
</h2>


<form method="POST">


<input
type="text"
name="name"
placeholder="Product Name"
required>


<input
type="text"
name="category"
placeholder="Category"
required>


<input
type="number"
name="price"
placeholder="Price"
required>


<textarea
name="description"
placeholder="Product Description"
required></textarea>


<input
type="text"
name="condition"
placeholder="Condition (New/Used)"
required>



<button type="submit">
Post Item
</button>


</form>


</div>


</body>

</html>